// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    /** Azul **/
	--ion-color-Azul-rgb: 0,0,128;
	--ion-color-Azul-contrast: #ffffff;
	--ion-color-Azul-contrast-rgb: 255,255,255;
	--ion-color-Azul-shade: #000071;
	--ion-color-Azul: #000080;
	--ion-color-Azul-tint: #1a1a8d;


	/** Rojo **/
	--ion-color-rojo: #b90000;
	--ion-color-rojo-rgb: 185,0,0;
	--ion-color-rojo-contrast: #ffffff;
	--ion-color-rojo-contrast-rgb: 255,255,255;
	--ion-color-rojo-shade: #a30000;
	--ion-color-rojo-tint: #c01a1a;

	/** Azul_noche **/
	--ion-color-azul_noche: #000035;
	--ion-color-azul_noche-rgb: 0,0,53;
	--ion-color-azul_noche-contrast: #ffffff;
	--ion-color-azul_noche-contrast-rgb: 255,255,255;
	--ion-color-azul_noche-shade: #00002f;
	--ion-color-azul_noche-tint: #1a1a49;

}

